<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="FileUploadCtrl"  nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
  <!-- .col -->
  <div class="col w-xxxl bg-light dk b-r bg-auto">
    <div class="wrapper-sm bg b-b" style="position: relative;">
      <div class="m-n inline" style="font-size: 1.8em">任务列表</div>
      <a class="btn btn-info w-sm inline text-md" style="position: absolute;right: 8px;">新建任务</a>
    </div>
    <div class="wrapper-md">
      <ul class="list-group list-group-sp">
        <li class="list-group-item text-lg">
          <a ng-click="choose_task()">请假</a>
          <a style="margin-left: 20%;">2017-7-10</a>
          <a>
            <button class="btn btn-sm btn-danger pull-right" ui-toggle-class="timeline-center" ng-click="delete_task()">删除</button>
          </a>
          <a>
            <button class="btn btn-sm btn-success pull-right m-r-sm" ui-toggle-class="timeline-center" ng-click="edit_task()">编辑</button>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col">
    <div class="wrapper-sm bg b-b" ng-show="is_editing">
      <a class="btn btn-success w-sm text-md" ng-click="update_task()">保存任务</a>
      <a class="btn btn-danger w-sm text-md" style="position: absolute;right: 8px;" ng-click="delete_task()">删除任务</a>
    </div>
    <div class="wrapper">
      <div class="form-group col-sm-5" ng-show="is_editing">
        <label>任务名</label>
        <input type="text" ng-model="dynamicPopover" class="form-control">
      </div>
      <div class="form-group col-sm-5" ng-show="is_editing">
        <label>任务流程文件</label>
        <input type="file" accept="text/xml, application/xml"  nv-file-select="" uploader="uploader" file="myFile"/>
      </div>

    </div>
    <div class="wrapper-md">
      <div>
        <img ng-src="{{task_img}}" />
      </div>
    </div>

    </div>
  </div>
  <!--</div>-->
