<!--<div ng-controller="taskNewCtrl">-->
  <!-- header -->
<div class="hbox hbox-auto-xs hbox-auto-sm">
  <!-- .col -->
  <div class="col w-lg bg-light dk b-r bg-auto" id="aside">
    <div class="wrapper bg b-b">
      <h3 class="m-n font-thin">任务列表</h3>
    </div>

    <div class="wrapper-md">
      <ul class="list-group list-group-sp">
        <li class="list-group-item">
          <a href ng-click="getxmlimag">请假</a>
        </li>
        <li class="list-group-item">
          <a href ng-click="getxmlimag">聚餐</a>
        </li>
        <li class="list-group-item">
          <a href ng-click="getxmlimag">加班</a>
        </li>
        <li class="list-group-item">
          <a href ng-click="getxmlimag">放假</a>
        </li>
      </ul>
    </div>

    <div class="wrapper bg b-b">
      <h3 class="m-n font-thin">新建任务</h3>
    </div>
    <div class="wrapper">
      <form>
        <div class="form-group">
          <label>任务名</label>
          <input type="text" placeholder="新任务" class="input-sm form-control">
        </div>

        <div>
          <a href="javascript:;" class="a-upload">
            <input id="fileId1" type="file" accept=" text/xml, application/xml" name="file" />点击这里上传文件
          </a>
        </div>



        <div class="wrapper b-b bg">
          <button class="btn btn-sm btn-default pull-right visible-sm visible-xs" ><i class="fa fa-bars"></i></button>
          <a ui-sref="ui_.new" class="btn btn-sm btn-danger w-xs font-bold">新建</a>
        </div>

      </form>
    </div>
  </div>
  <!-- /.col -->

  <div class="col">
    <div class="wrapper">




      <!-- .col -->
      <!-- /.col -->
    </div>
  </div>

</div>


  <!-- / header -->


<!--</div>-->