<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="FileUploadCtrl"  nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
  <!-- .col -->
  <div class="col w-lg bg-light dk b-r bg-auto" id="aside">
    <div class="wrapper bg b-b">
      <!--<button class="btn btn-sm btn-success pull-right" ui-toggle-class="timeline-center" target=".timeline">新建</button>-->
      <h3 class="m-n font-thin">任务列表</h3>
    </div>
    <div class="wrapper-md">
      <ul class="list-group list-group-sp">
        <li class="list-group-item">
          <a href ng-click="">请假</a>
          <a ui-sref="">
            <button class="btn btn-sm btn-success pull-right" ui-toggle-class="timeline-center" target=".timeline">编辑</button>
          </a>
        </li>
        <li class="list-group-item">
          <a href ng-click="">聚餐</a><button class="btn btn-sm btn-success pull-right" ui-toggle-class="timeline-center" target=".timeline">编辑</button>
        </li>
        <li class="list-group-item">
          <a href ng-click="">加班</a><button class="btn btn-sm btn-success pull-right" ui-toggle-class="timeline-center" target=".timeline">编辑</button>
        </li>
        <li class="list-group-item">
          <a href ng-click="">放假</a><button class="btn btn-sm btn-success pull-right" ui-toggle-class="timeline-center" target=".timeline">编辑</button>
        </li>
      </ul>
    </div>

    <div class="wrapper bg b-b">
      <h3 class="m-n font-thin">新建任务</h3>
      <form>
        <!--<div class="m-t-md m-b-md"><button class="btn btn-primary">保存</button></div>-->
      </form>
    </div>
    <div class="wrapper">
      <form>
        <div class="m-t-md m-b-md">
        <a ui-sref="app.form.fileupload">
         <button class="btn btn-primary">新建</button>
        </a>
        </div>
      </form>
    </div>

  </div>

  <div class="col">
    <div class="wrapper bg b-b">
      <h3 class="m-n font-thin">编辑任务</h3>
    </div>
    <div class="wrapper">
      <form>
        <div class="form-group col-sm-4">
          <label>任务名</label>
          <input type="text" ng-model="dynamicPopover" class="form-control">
        </div>

      </form>
    </div>
    <div class="wrapper-md">
      <input type="file" accept=" text/xml, application/xml"  nv-file-select="" uploader="uploader" />
      <div>
      <!--<a href="javascript:;" class="a-upload">-->
        <!--<input type="file" accept=" text/xml, application/xml"  nv-file-select="" uploader="uploader" />-->
      <!--<input id="fileId1" type="file" accept=" text/xml, application/xml" name="file" />点击这里上传文件-->
      <!--</a>-->
      <!--</div>-->

      <!--</div>-->

      <!--<div class="wrapper-md">-->
      <table class="table bg-white-only b-a">
        <thead>
        <tr>
          <th width="">文件名</th>
          <th ng-show="uploader.isHTML5">大小</th>
          <th ng-show="uploader.isHTML5">进度</th>
          <th></th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in uploader.queue">
          <td><strong>{{ item.file.name }}</strong></td>
          <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
          <td ng-show="uploader.isHTML5">
            <div class="progress progress-sm m-b-none m-t-xs">
              <div class="progress-bar bg-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
            </div>
          </td>
          <td class="text-center">
            <span ng-show="item.isSuccess" class="text-success"><i class="glyphicon glyphicon-ok"></i></span>
            <span ng-show="item.isCancel" class="text-warning"><i class="glyphicon glyphicon-ban-circle"></i></span>
            <span ng-show="item.isError" class="text-danger"><i class="glyphicon glyphicon-remove"></i></span>
          </td>
          <td nowrap>
            <button type="button" class="btn btn-default btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
              Upload
            </button>
            <button type="button" class="btn btn-default btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
              Cancel
            </button>
            <button type="button" class="btn btn-default btn-xs" ng-click="item.remove()">
              Remove
            </button>
          </td>
        </tr>
        </tbody>
      </table>

      <div>
        <p>Queue progress:</p>
        <div class="progress bg-light dker" style="">
          <div class="progress-bar progress-bar-striped bg-info" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
        </div>
      </div>

      <fieldset>
        <ul>
          <li>
            <div id="div_01">
              <div class="m-t-md m-b-md"><button class="btn btn-success">预览</button></div></div>
            <div id="div_02">
              <img alt="图片不存在"
                   src="http://imgcache.qq.com/music/photo/singer/54/singerpic_5554_0.jpg" />
            </div>
          </li>


          <div class="m-t-md m-b-md"><button class="btn btn-primary">保存</button></div>
        </ul>
      </fieldset>
    </div>

    <div class="col">

    </div>
  </div>
</div>
<!--</div>-->
