<!-- 左侧菜单栏目块
 左侧栏“用户管理”“用户查看”变高亮，不显示的形式
    组织结构里部门后面的“操作”里，点击“用户”，直接跳转到对应这两个界面的某个。

-->


			<div class="leftMeun" id="leftMeun">
				<div id="logoDiv">
					<p id="logoP"><img id="logo" alt="用户" src="images/head_120.png"><span>用户</span></p>
				</div>
				<div id="personInfor">
					<p id="userName">管理员</p>
					<p><span>yangxp@qq.com</span></p>
					<p>
						<a>退出登录</a>
					</p>
				</div>
				<div class="meun-title">组织管理</div>
				<div class="meun-item meun-item-active" href="#sour" aria-controls="sour" role="tab" data-toggle="tab"><img src="images/icon_source.png">组织结构管理</div>
				<div class="meun-item" href="#user" aria-controls="user" role="tab" data-toggle="tab"><img src="images/icon_user_grey.png">用户管理</div>
				<!-- 预计删除
				<div class="meun-title">部门管理</div>
				<div class="meun-item" href="#scho" aria-controls="scho" role="tab" data-toggle="tab"><img src="images/icon_house_grey.png">部门管理</div>
				-->

				<div class="meun-title">任务管理</div>
				<div class="meun-item" href="#task" aria-controls="task" role="tab" data-toggle="tab"><img src="images/icon_user_grey.png">任务管理</div>
				<div class="meun-title">通知管理</div>
				<div class="meun-item" href="#noti" aria-controls="noti" role="tab" data-toggle="tab"><img src="images/icon_char_grey.png">发布通知</div>
				<div class="meun-item" href="#jdua" aria-controls="jdua" role="tab" data-toggle="tab"><img src="images/icon_char_grey.png">查看通知</div>
				<div class="meun-title">设置管理</div>
				<div class="meun-item" href="#chan" aria-controls="chan" role="tab" data-toggle="tab"><img src="images/icon_change_grey.png">个人设置</div>
			</div>