<!--
  Generated template for the Personal page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="toolbar-title">{{ui.PersonalPage.title}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="log_out()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content class="setting-content">
  <div class="avator" (click)="show_avator_slector()">
    <img class="avator-img" src="{{global_data.avator_path}}">
    <div class="gender">
      <img *ngIf="info.gender" src="assets/img/male.png">
      <img *ngIf="!info.gender" src="assets/img/female.png">
    </div>
    <div class="update">{{ui.PersonalPage.avator}}</div>
  </div>
  <ion-list class="setting-list">
    <ion-item>
    <ion-label>{{ui.PersonalPage.username}}</ion-label>
    <ion-label class="setting-item-value">{{global_data.user_name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ui.PersonalPage.position}}</ion-label>
      <ion-label class="setting-item-value">{{global_data.job}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ui.PersonalPage.language}}</ion-label>
      <ion-select interface="action-sheet" cancelText="{{ui.PersonalPage.cancel}}" okText="{{ui.PersonalPage.ok}}" [(ngModel)]="global_data.language">
        <ion-option *ngFor="let item of ui.LanguageOptions" value="{{item.value}}">
          {{item.text}}
        </ion-option>
      </ion-select> 
    </ion-item>
    <ion-item *ngIf="info.phone[0]">
      <ion-label>{{ui.PersonalPage.tel}}</ion-label>
      <ion-label class="setting-item-value">{{info.phone[0]}}</ion-label>
    </ion-item>
    <ion-item *ngIf="info.email[0]">
      <ion-label>{{ui.PersonalPage.mail}}</ion-label>
      <ion-label class="setting-item-value">{{info.email[0]}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ui.PersonalPage.notice}}</ion-label>
      <ion-toggle class="setting-item-value"></ion-toggle>
    </ion-item>
    <button ion-button class="action-button" (click)="show_password_prompt();">
      {{ui.PersonalPage.change_pwd}}
    </button>
    <button ion-button class="action-button" (click)="show_contact_prompt();">
      {{ui.PersonalPage.change_contact}}
    </button>
    </ion-list>

</ion-content>
