page-personal {

  .toolbar-title-ios {
    color: map-get($colors, primary);
  }
  .setting-content {
    padding: 8px 4px 4px 4px;
    .avator {
      width: 100%;
      margin-top: 8px;
      margin-bottom: 8px; 
      text-align: center;
      .avator-img {
        width: 128px;
      }
      .gender {
        position: absolute;
        width: 32px;
        top: 48px;
        right: 15%;
      }
      .update {
        text-align: center;
        color: map-get($colors, third_text);
        font-size: 1.4rem;
      }
    }
    .setting-list {
      .item-block {
        .label {
         color: map-get($colors, primary_text);   
       }
       &:first-child {
        border-top: none;
       }
       &:last-child {
        border-bottom: none;
       }
      }

      .select-text {
        color: map-get($colors, primary_text);
      }
      
      .setting-item-value {
        text-align: right;
      }

      .action-button {
        margin: 16px 12px 8px 12px;
        width: calc(100% - 24px);
        height: 36px;
        .button-inner {
          font-size: 2.0rem;
          padding: 4px 2px 4px 2px;
        }
      }
    }
  }

  .has-refresher {
    .scroll-content {
      border-top: none;
    }
  }

}

