page-personal {

  .toolbar-title-ios {
    color: map-get($colors, primary);
  }
  .setting-content {
    padding: 8px 4px 4px 4px;
    .avator {
      width: 100%;
      margin-top: 8px;
      margin-bottom: 8px; 
      img {
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
      }
      div {
        text-align: center;
        color: map-get($colors, third_text);
        font-size: 1.4rem;
      }
    }
    .setting-list {
      .item-block {
        .label {
         color: map-get($colors, primary_text);   
       }
       &:first-child {
        border-top: none;
       }
       &:last-child {
        border-bottom: none;
       }
      }

      .select-text {
        color: map-get($colors, primary_text);
      }
      
      .setting-item-value {
        text-align: right;
      }

      .change-password-button {
        margin: 8px 4px 8px 4px;
        width: 95%;
        height: 36px;
        .button-inner {
          font-size: 2.0rem;
          padding: 4px 2px 4px 2px;
        }
      }
    }
  }

}

.password-alert {
  .alert-title {
    text-align: center;
    font-size: 2.0rem;
    color: map-get($colors, primary_text);
  }
  .alert-button-group {
    padding: 0 0 0 0;
  }
  .alert-button {
    overflow: hidden;
    flex: 1 1 auto;
    margin: 0px;
    padding: 12px 12px 16px 12px;
    min-width: 50%;
    font-size: 1.8rem;
    color: map-get($colors, primary);
    background-color: transparent;
    .button-inner {
      justify-content: center;
    }
  }
}
