page-personal {

  .toolbar-title-ios {
    color: map-get($colors, primary);
  }
  .setting-content {
    padding: 8px 4px 4px 4px;
    .avator {
      width: 100%;
      margin-top: 8px; 
      img {
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
      }
    }
    .setting-list {
      .item-block {
        .label {
         color: map-get($colors, primary_text);   
       }
       &:first-child {
        border-top: none;
       }
       &:last-child {
        border-bottom: none;
       }
      }

      .select-text {
        color: map-get($colors, primary_text);
      }
      
      .setting-item-value {
        text-align: right;
      }
    }
  }

}
