image-viwer {
  background-color: #101010;

  .image-content {
    width: 100%;
    top: 20%;
    position: absolute;
    text-align: center;
    vertical-align: center;
  }
  .ion-fab {
    opacity: 0.8;
  }
}
