page-basis-page {
  .toolbar-background-md {
    background-color: map-get($colors, primary);
  }
  .toolbar-title-md {
    color: map-get($colors, light);
  }
  .bar-button-default-md {
    color: map-get($colors, light);
  }
  .menu-header {
    background-color: map-get($colors, primary);
    width: 100%;
    height: 30%;
    .avator {
      margin: 15% 0% 15% 10%;
      img {
        max-width: 35%;
        margin-right: 6%;        
      }
      .user-info {
        text-overflow: ellipsis; // 让超出的用...实现
        white-space: nowrap; // 禁止换行
        overflow: hidden;  // 超出的隐藏
        color: map-get($colors, light);
        font-size: 1.8rem;
        position: absolute; 
        top: 40%;
        width: 200px
      }
    }
  }
  .menu-content {
    width: 100%;
    height: 100%;
  }
  .menu-item {
    .menu-item-img {
      width: 10%;
    }
    .menu-item-title {
      margin-left: 12%;
      font-size: 2.0rem;
      color: map-get($colors, primary_text)
    }
    .label {
      margin: 4% 6% 4% 4%;
    }
    .item-block:last-child {
      border-bottom: none;
    }
  }

}
