<div class="tab-content">
    <!-- 资源管理模块 -->


    <div class="leftMeun" id="leftMeun">
        <div id="logoDiv">
            <p id="logoP"><img id="logo" alt="用户" src="images/head_120.png"><span>用户</span></p>
        </div>
        <div id="personInfor">
            <p id="userName">管理员</p>
            <p><span>yangxp@qq.com</span></p>
            <p>
                <a>退出登录</a>
            </p>
        </div>
        <div class="meun-title">组织管理</div>
        <div class="meun-item meun-item-active" href="#sour" aria-controls="sour" role="tab" data-toggle="tab"><img src="images/icon_source.png">组织结构管理</div>
        <div class="meun-item" href="#user" aria-controls="user" role="tab" data-toggle="tab"><img src="images/icon_user_grey.png">用户管理</div>
        <!-- 预计删除
        <div class="meun-title">部门管理</div>
        <div class="meun-item" href="#scho" aria-controls="scho" role="tab" data-toggle="tab"><img src="images/icon_house_grey.png">部门管理</div>
        -->

        <div class="meun-title">任务管理</div>
        <div class="meun-item" href="#task" aria-controls="task" role="tab" data-toggle="tab"><img src="images/icon_user_grey.png">任务管理</div>
        <div class="meun-title">通知管理</div>
        <div class="meun-item" href="#noti" aria-controls="noti" role="tab" data-toggle="tab"><img src="images/icon_char_grey.png">发布通知</div>
        <div class="meun-item" href="#jdua" aria-controls="jdua" role="tab" data-toggle="tab"><img src="images/icon_char_grey.png">查看通知</div>
        <div class="meun-title">设置管理</div>
        <div class="meun-item" href="#chan" aria-controls="chan" role="tab" data-toggle="tab"><img src="images/icon_change_grey.png">个人设置</div>
    </div>



    <div id="rightContent">
        <div class="col-xs-8 ">

                    <div class="row-fluid">
                        <div class="">
                            <div class="row-fluid">
                                <div class="span8">
                                    <form class="form-horizontal">
                                        <fieldset>
                                            <div class="control-group formSep">

                                                <label class="control-label">用户名</label>
                                                <div class="controls text_line">
                                                    <strong>杨鹏</strong>
                                                </div>

                                            </div>
                                            <div class="control-group formSep">
                                                <label for="fileinput" class="control-label">用户头像</label>
                                                <div class="controls">
                                                    <div data-fileupload="image" class="fileupload fileupload-new">
                                                        <div style="width: 80px; height: 80px;" class="fileupload-new thumbnail">
                                                            <img src="../../www.placehold.it/80x80/EFEFEF/AAAAAA"  alt="" />
                                                        </div>
                                                        <div style="width: 80px; height: 80px; line-height: 80px;" class="fileupload-preview fileupload-exists thumbnail">
                                                        </div>
                                                        <span class="btn btn-file">

                                                            <input type="file" id="fileinput" name="fileinput" />
                                                        </span>
                                                        <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">取消选择</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="control-group formSep">
                                                <label for="u_fname" class="control-label">原名</label>
                                                <div class="controls">
                                                    <input type="text" id="u_fname" class="input-xlarge" value="杨鹏" />
                                                </div>
                                            </div>
                                            <div class="control-group formSep">
                                                <label for="u_email" class="control-label">邮箱</label>
                                                <div class="controls">
                                                    <input type="text" id="u_email" class="input-xlarge" value="yangxp@qq.com" />
                                                </div>
                                            </div>
                                            <div class="control-group formSep">
                                                <label for="u_password" class="control-label">密码</label>
                                                <div class="controls">
                                                    <div class="sepH_b">
                                                        <input type="password" id="u_password" class="input-xlarge" value="my_password" />
                                                        <span class="help-block">输入密码</span>
                                                    </div>
                                                    <input type="password" id="s_password_re" class="input-xlarge" />
                                                    <span class="help-block">重复密码</span>
                                                </div>
                                            </div>

                                            <div class="control-group formSep">
                                                <label class="control-label">语言</label>
                                                <div class="controls">
                                                    <select name="user_languages" id="user_languages" multiple data-placeholder="Choose a language(s)..." class="span8">
                                                        <option selected="selected">English</option>
                                                        <option>汉语</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="control-group formSep">
                                                <label class="control-label">性别</label>
                                                <div class="controls">
                                                    <label class="radio inline">
                                                        <input type="radio" value="male" id="s_male" name="f_gender" checked="checked" />
                                                        男
                                                    </label>
                                                    <label class="radio inline">
                                                        <input type="radio" value="female" id="s_female" name="f_gender" />
                                                        女
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <div class="controls">
                                                    <button class="btn btn-gebo" type="submit">确定修改</button>
                                                    <button class="btn">取消修改</button>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
    </div>

        </div>
    </div>
</div>