<!--
  Generated template for the ChatDetail page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="go_back()"> 
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <div>{{con_title}}</div>
    </ion-title> 
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="load_more($event)" class="load-more">
    <ion-refresher-content pullingText="{{ui.pullText}}" refreshingText="{{ui.refreshText}}">
    </ion-refresher-content>
  </ion-refresher>

 <ion-list no-lines class="msg-list">
  <ion-item *ngFor="let item of msg_list.list" [ngSwitch]="item.is_my_send">
    <div *ngIf="item.show_time" class="msg-time">
    {{ item.create_time | msg_time_format }}
    </div>
    <div *ngSwitchCase="false" class="msg-other">
      <div class="sender-avator">
        <img src="assets/img/avator/{{item.from_user_avator}}.png">
      </div>
      <div class="msg-info">
        <div class="sender-person">{{item.from_user}}</div>
        <div class="msg-detail">
          <ion-card class="msg-text-content" *ngIf="!item.is_img">
            <ion-card-content>{{item.content}}</ion-card-content>
          </ion-card>
          <ion-card class="msg-image-content" *ngIf="item.is_img" (click)="image_detail(item)">
            <ion-card-content >
              <img [src]="item.content.local_path">
            </ion-card-content>
          </ion-card>        
        </div>
      </div>
    </div>
    <div *ngSwitchCase="true" class="msg-my"> 
      <div class="msg-info">
        <div class="msg-detail">
          <ion-card class="msg-text-content" *ngIf="!item.is_img">
            <ion-card-content>{{item.content}}</ion-card-content>
          </ion-card>
          <ion-card class="msg-image-content" *ngIf="item.is_img" (click)="image_detail(item)">
            <ion-card-content >
              <img [src]="item.content.local_path">
            </ion-card-content>
          </ion-card>       
        </div>
      </div>
      <div class="sender-avator">
        <img src="{{global_data.avator_path}}">
      </div>   
    </div>
  </ion-item>

<!--   <ion-item>
    <div class="msg-time">
      <div>
      {{create_time | msg_time_format}}
      </div>
    </div>
    <div class="msg-my">   
      <div class="msg-info">
        <div class="msg-detail">
          <ion-card class="msg-text-content">
            <ion-card-content>测试信息测试信测试信</ion-card-content>
          </ion-card>        
        </div>
      </div>
      <div class="sender-avator">
        <img src="assets/img/avator/3.png">
      </div>   
    </div>
  </ion-item>
  <ion-item>
   <div class="msg-other">
    <div class="sender-avator">
      <img src="assets/img/avator/3.png">
    </div>
    <div class="msg-info">
      <div class="sender-person">张三</div>
      <div class="msg-detail">
        <ion-card class="msg-text-content">
          <ion-card-content>测试信测试信测试信测试信测试信测试信测试信测试信测试信测试信</ion-card-content>
        </ion-card>        
      </div>
    </div>
  </div>
</ion-item>
  <ion-item>
    <div class="msg-time">
      <div>
        {{create_time | msg_time_format}}
      </div>
    </div>
    <div>
      <div class="msg-other">
        <div class="sender-avator">
          <img src="assets/img/avator/3.png">
        </div>
        <div class="msg-info">
          <div class="sender-person">张三</div>
          <div class="msg-detail">
            <ion-card class="msg-text-content">
              <ion-card-content>测试信测试信测试信测试信测</ion-card-content>
            </ion-card>        
          </div>
        </div>
      </div>      
    </div>

</ion-item>
  <ion-item>
    <div class="msg-my">   
      <div class="msg-info">
        <div class="msg-detail">
          <ion-card class="msg-text-content">
            <ion-card-content>测试信息测试信测试信测试信测试信测试信测试信测试信测试信测试信测试信测试信测试信测试信测试信测试信</ion-card-content>
          </ion-card>        
        </div>
      </div>
      <div class="sender-avator">
        <img src="assets/img/avator/3.png">
      </div>   
    </div>
  </ion-item> -->
</ion-list>

</ion-content>

<ion-footer class="msg-input-bar">
  <div>
    <button ion-button class="msg-add-img" large (click)="get_img_msg()">
      <ion-icon name="md-add"></ion-icon>
    </button>
    <ion-input class="msg-input" [(ngModel)]="input_msg" name="input_msg"></ion-input>
    <button ion-button class="msg-send" large (click)="send_text_msg()">
      <ion-icon name="md-send"></ion-icon>
    </button>
  </div>
</ion-footer>
