
%clearfix {
  &:after, &:before {
    content: '';
    display: block;
    width: 100%;
    clear: both;
  }
}


page-task-detail {

  .toolbar {
    z-index: 15;
    .toolbar-title-ios {
      color: map-get($colors, primary);
    }
  }
  .toolar-ios {
    border-bottom: none;
  }
  .task-info-container:before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMUCS0gBIh/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
    background-repeat: repeat-x;
    background-position: 0 -2px;
    content: "";
    z-index : 20;    
  }
  .task-info-container {
    z-index : 10;
  }
  .header-ios:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMUCS0gBIh/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
    background-repeat: repeat-x;
    background-position: 0 -2px;
    content: "";
  }
  .task-info-list {
    margin: 0px 0px 0px 0px;
    height: 5%;
    .item-block:first-child {
      border-top: none;
    }
    .item-block:last-child {
      border-bottom: none;
    }
    .item {
      font-size: 1.6rem;
      color: map-get($colors, primary_text);      
    }
  }

  .footer-toolbar {
    .operation-button {
      font-size: 1.8rem;
      margin: 0px 12px 0px 12px;
    }
    .bar-button-md {
      color: map-get($colors, light);
    }
    .bar-button-ios {
      color: map-get($colors, primary);
    }
  }


  .stages-line {

    &:before {
      content:"";
      width: 2px;
      height: 100%;
      background: map-get($colors, primary);
      left: 30%;
      top: 0;
      position: absolute;
    }

    .task-stage-item {
      background: transparent;
      padding: 2px 0px 2px 0px;

      .item-inner {
        padding: 2px 0px 2px 0px;
      }

      .task-stage-time {
        width: 25%;
        display: inline-block;
        padding-left: 8px;
        color: map-get($colors, primary_text);
        font-size: 1.4rem;
        text-align: center; 
      }

      .task-stage-img {
        width: 10%;
        display: inline-block;
        .stage-img {
          width: 100%;
          background: #fff;
          border-radius: 50%;
        }
      }

      .task-stage-detail {
        width: 65%;
        display: inline-block;
        &:before {
          content: '';
          position: absolute;
          bottom: 30%;
          left: 35%;
          width: 0; 
          height: 0; 
          border-top: 8px solid transparent;
          border-bottom: 8px solid transparent; 
          border-left: 8px solid transparent;
          border-right: 8px solid map-get($colors, primary);
        }

        .task-stage-content {
          display: inline-block;
          margin: 0px 8px 0px 8px;

          .card-header {
            // background: map-get($colors, primary);
            padding: 2px 8px 4px 8px;
            color: map-get($colors, primary_text);
            font-size: 1.4rem;
            text-overflow: ellipsis; // 让超出的用...实现
            white-space: nowrap; // 禁止换行
            overflow: hidden;  // 超出的隐藏
          }

          .card-content {
            padding: 4px 8px 2px 8px;
            font-size: 1.4rem;
            background: map-get($colors, primary);
            color: map-get($colors, light);
            text-overflow: ellipsis; // 让超出的用...实现
            white-space: nowrap; // 禁止换行
            overflow: hidden;  // 超出的隐藏
          }

        }
      }


    }

  }


}
