<!--
  Generated template for the TaskDetail page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="go_back()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{task_info.content}}</ion-title>
  </ion-toolbar>
  <div class="task-info-container">
    <ion-list class="task-info-list">
      <ion-item>
        <ion-label>{{ui.TaskDetailPage.originator}}</ion-label>
        <ion-label style="text-align: right;">{{task_info.start_person}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{ui.TaskDetailPage.starttime}}</ion-label>
        <ion-label style="text-align: right;">{{task_info.start_time | date: 'y/MM/dd HH:mm'}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{ui.TaskDetailPage.note}}</ion-label>
        <ion-label style="text-align: right;">{{task_info.content}}</ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-header>

<ion-content>
  <ion-list no-lines class="stages-line">
    <ion-item class="task-stage-item" *ngFor="let stage of task_info.stages">
      <div class="task-stage-time">
        <div>{{stage.start_time | date: 'y/MM/dd'}}</div>
        <div>{{stage.start_time | date: 'HH:mm'}}</div>
      </div>
      <div class="task-stage-img">
        <img *ngIf="stage.status === 0" class="stage-img" src="assets/img/task_pass.png"/>
        <img *ngIf="stage.status === 1" class="stage-img" src="assets/img/task_doing.png"/>
        <img *ngIf="stage.status === 2" class="stage-img" src="assets/img/task_end.png"/>
      </div>
      <div class="task-stage-detail">
        <ion-card class="task-stage-content" (click)="stage_detail(stage)">
          <ion-card-header>{{stage.person}}</ion-card-header>
          <ion-card-content>{{stage.title}}</ion-card-content>
          </ion-card>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer *ngIf="!task_info.over && task_info.operate_person_id === data.user_id" [ngSwitch]="operation_options.length">
  <ion-toolbar class="footer-toolbar" *ngSwitchCase="1">
    <ion-buttons style="text-align: center;">
      <button ion-button clear class="operation-button" (click)="operation_form(operation_options[0].value)">{{operation_options[0].text}}</button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="footer-toolbar" *ngSwitchCase="2">
    <ion-buttons left>
      <button ion-button clear class="operation-button" (click)="operation_form(operation_options[0].value)">{{operation_options[0].text}}</button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button clear class="operation-button" (click)="operation_form(operation_options[1].value)">{{operation_options[1].text}}</button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="footer-toolbar" *ngSwitchDefault>
    <ion-buttons style="text-align: center;">
      <button ion-button clear class="operation-button" (click)="show_operate_list()">处理任务</button>
    </ion-buttons>    
  </ion-toolbar>

</ion-footer>
