
%clearfix {
  &:after, &:before {
    content: '';
    display: block;
    width: 100%;
    clear: both;
  }
}


page-task-detail {

  .toolbar {
    z-index: 15;
  }
  .toolar-ios {
    border-bottom: none;
  }
  .task-info-container:before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMUCS0gBIh/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
    background-repeat: repeat-x;
    background-position: 0 -2px;
    content: "";
    z-index : 20;    
  }
  .task-info-container {
    z-index : 10;
  }
  .header-ios:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMUCS0gBIh/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
    background-repeat: repeat-x;
    background-position: 0 -2px;
    content: "";
  }
  .task-info-list {
    margin: 0px 0px 0px 0px;
    height: 5%;
    .item-block:first-child {
      border-top: none;
    }
    .item-block:last-child {
      border-bottom: none;
    }
    .item {
      font-size: 1.6rem;
      color: map-get($colors, primary_text);      
    }
  }


  .stages-line {

    &:before {
      content:"";
      width: 2px;
      height: 100%;
      background: map-get($colors, primary);
      left: 40%;
      top: 0;
      position: absolute;
    }

    .task-stage-item {
      background: transparent;
      padding: 2px 0px 2px 0px;
      .item-inner {
        padding: 2px 0px 2px 0px;
      }

      // @extend %clearfix;
      .task-stage-time {
        width: 35%;
        display: inline-block;
      }

      .task-stage-img {
        top : 2px;
        width: 15%;
        display: inline-block;
        border-radius: 50%;
        .stage-img {
          background: #fff;
          border-radius: 50%;
          // margin-left: 2px;
          width: 60%;
        }
      }

      .task-stage-detail {
        width: 50%;
        display: inline-block;
        .task-stage-content {
          display: inline-block;
          margin: 0px 12px 0px 7px;

          &:before {
            content: '';
            position: absolute;
            top: 25%;
            left: 50%;
            width: 0; 
            height: 0; 
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent; 
            border-left: 8px solid transparent;
            border-right: 8px solid map-get($colors, primary);
          }

          .card-header {
            background: map-get($colors, primary);
            padding: 2px 8px 4px 8px;
            color: map-get($colors, light);
            font-size: 1.4rem;
          }

          .card-content {
            padding: 4px 8px 2px 8px;
            font-size: 1.4rem;
            color: map-get($colors, primary_text);
          }

        }
      }


    }

  }


}
